<div class="portfolio-icon">
    <a href="#"><i class="lni lni-link"></i></a>
    <img src="assets/images/portfolio/shape.svg" alt="shape" class="shape">
</div>                                            